<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Products</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
        <#include "common/navbar.html">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <#if isUserRoleAdmin>
                    <th></th>
                    <th></th>
                </#if>
            </tr>
            </thead>
            <tbody>
            <#list products as product>
                <tr>
                    <td>${product.id}</td>
                    <td>${product.name}</td>
                    <td>${product.description}</td>
                    <td>${product.price}</td>
                    <#if isUserRoleAdmin>
                        <td>
                            <form action="/product/edit/${product.id}" method="GET">
                                <input type="submit" class="btn btn-dark" value="Edit">
                            </form>
                        </td>
                        <td>
                            <form action="/product/delete/${product.id}" method="GET">
                                <input type="submit" class="btn btn-dark" value="Remove">
                            </form>
                        </td>
                    </#if>
                </tr>
            </#list>
            </tbody>
        </table>
    </body>
</html>