<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Registration form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <#include "common/navbar.html">

    <h1 align="center">Registration of new user</h1>
    <div class="container">
        <form action="/registration" method="POST">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" required name="login">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required name="password">
                <#if message??>
                    <div class="">${message}</div>
                </#if>
                <br>
                <input type="submit" class="btn btn-dark" value="Register">
            </div>
        </form>
    </div>
</body>
</html>